{% extends "app/layout.html" %}

{% block content %}
<div class="container col-md-offset-2">

<h2 style="margin-left:5%">{{ title }}.</h2>
<h3 >{{ message }}</h3>
<img src="../static/app/images/tool-set.jpg" alt="an image" style="margin-left:2%;"class="img-responsive img-thumbnail"/>
<br />
<br />
<p>We represent a funding group (Investiny Corp.) chartered to create applications for the benefit of communities all <br />around the country.<br />
 The product we envision is called Tool Share. At its core, Tool Share is meant to enable neighbors in a community <br />to be able to share items of common use. <br />
The successful implementation should make it easy to anyone wanting to participate to register and be able to <br /> share or borrow items.
<br />The Tool Share product is intended to improve communities by providing and easy mechanism for sharing items <br />
 between neighbors. We envision this to primarily consist of tool exchanges but the implementation must be <br />easily extended to include items of different kinds. 
We want a product whose emphasis is on ease of use, whose <br /> navigation is straightforward and where the status of items and users is clearly displayed.
</p>
</div>

{% endblock %}
